# Flutter
**/android/**/gradle-wrapper.jar
**/ios/.generated/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Android
**/android/**/GeneratedPluginRegistrant.java
**/android/**/libflutter.so

# Build
/build/